.navbar{
  margin: 0px;
  max-height: 34px;
  background: var(--system-background);
  border-radius: var(--system-border) var(--system-border) 0px 0px;
}

.navbar-brand{
  padding: 0;
}

body{
  overflow: auto;
}