@import "tailwindcss";

:root {
  --primary-color: #1d4ed8;
  --border-radius: 10px;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --radius-vsk: var(--border-radius);
  --radius-window: calc(var(--border-radius) + 16px);
  --color-vsk-primary: var(--primary-color);
}

::view-transition-old(root) {
  animation-delay: 500ms;
}

::view-transition-new(root) {
  animation: circle-in 500ms;
}

@keyframes move-in {
  from { translate: 0 -100%; }
  to { translate: 0  0; }
}

@keyframes circle-in {
  from { clip-path: circle(0% at 50% 0%); }
  to { clip-path: circle(120% at 50% 0%); }
}

body * {
  @apply text-gray-900 dark:text-gray-100 transition-colors duration-300;
}

.background {
  @apply bg-slate-200/80 dark:bg-slate-800/80;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* Applet Styles */
.applet {
  @apply p-8;
  border-radius: calc(var(--radius-vsk) + 32px);
}

